{% extends "base.html" %}

{% block content %}
{% load static %}
<link href="{% static 'DreamScapes/css/sounds.css' %}" rel="stylesheet" type="text/css">
<body>

<div class="container">
    <h2 class="text-center my-5">Choose Your Sound</h2>
    
    <div class="row">
        <!-- Example Sound Card -->
        <div class="col-md-4">
            <div class="sound-card">
                <div class="sound-image">
                    <img src="{% static 'DreamScapes/images/rain.jpg' %}" alt="Rain sound" class="img-fluid">
                </div>
                <div class="sound-info text-center">
                    <h5>Rain</h5>
                    <div class="sound-control">
                        <button class="btn play-sound">Play</button>
                        <input type="range" min="1" max="100" value="50" class="volume-slider">
                    </div>
                </div>
            </div>
        </div>
        <!-- You can replicate the above card for other sounds -->
    </div>
</div>

<!-- Include JS for handling sound play, adjust volume etc. -->
<script src="{% static 'DreamScapes/js/sounds.js' %}"></script>
</body>
</html>

{% endblock %}

