.sound-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sound-card:hover {
    transform: scale(1.05);
}

.sound-image {
    height: 50px;
    overflow: hidden;
}

.sound-image img {
    width: 100%;
    height: auto;
}

.sound-info {
    margin-top: 10px;
}

.sound-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.play-sound {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-sound:hover {
    background-color: #0056b3;
}

.volume-slider {
    width: 60%;
}
